<header class="header_perso">
  <div class="header_illustration">
    <%= image_tag 'fond_png.png', alt: 'bannière du site' %>
  </div>
  <div class="header_profile">
    <h1>Fiches personnage</h1>
    <h2>@<%=  @user.pseudo %></h2>
  </div>
</header>

<div id="main"></div>
