<header>
  <div class="header_illustration">
    <%= image_tag 'fond_png.png', alt: 'logo dé de jeu de rôle' %>
  </div>
  <div class="header_title">
    <%= image_tag 'dice.svg', alt: 'bannière du site' %>
    <h1>
      <b>Roll your</b>
      <span>chara</span>
    </h1>
  </div>
  <div class="header_desc">
    <h2>L'artefact mystique qui facillite vos scéances de jeu de rôle</h2>
    <p>Envie de sauvegarder tes fiches personnage au même endroit pour t'y retrouver sans avoir à ouvrir tes docs word ? De sauvegarder en direct ta progression dans ton épopée ? En quelques clics, le tour est joué avec Roll Your Chara !</p>
  </div>
</header>

</div>
