<header>
  <div class="header_illustration">
    <%= image_tag 'fond_1.svg', alt: 'bannière du site' %>
  </div>
  <div class="header_profile">
    <h1>Tes fiches personnage</h1>
    <h2>@Pseudo</h2>
  </div>
</header>
