@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;800&family=Roboto+Mono:wght@400;500;700&display=swap');


/***** VARIABLES *****/

$bleu:#2b3653;
$violet: #806c8a;
$rose: #d8a8a4;
$marron: #70493e;
$orange: #ea754a;
$blanc: #f4f5f5;

$fontTitle: 3rem 'Roboto Mono';
$fontText: 1rem 'Poppins';

/***** GENERALITES *****/
*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
a, a:hover {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
  font: $fontText;

  #navigation_bar {
    display:flex;
    align-items:center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: $blanc;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: 999;
    padding: 0 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #444;

    .logo_site {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;

      img {
        width: 100%;
      }
    }

    .nav_links {
      display:flex;
      align-items: center;

      a {
        color: #444;
        margin-right: 40px;
        transition: ease .3s;

        &:hover {
          color: $orange;
          transition: ease .3s;
        }
      }
      input, button {
        border:none;
        font: $fontText;
        padding: 5px 20px;
        border-radius: 20px;
        color:$blanc;
        cursor: pointer;
        letter-spacing: 1px;
      }
      .links_connected {
        display:flex;
        align-items: center;

        input {
          background-color: $bleu;
          margin-left: 40px;
        }
        a:nth-child(2) {
          margin: 0;
        }
      }
      .links_notconnected {
        display:flex;
        a {
          background-color: $orange;
          border:none;
          font: $fontText;
          padding: 5px 20px;
          border-radius: 20px;
          color:$blanc;
          cursor: pointer;
          letter-spacing: 1px;
          text-transform: lowercase;
          margin: 0;
        }
        button {
          background-color: $rose;
          margin-right: 20px;
        }
      }
    }
  }
  body {
    background-color: $blanc;

    header {
      display:flex;
      align-items: center;
      justify-content: space-around;
      position:relative;
      width: 100%;
      padding: 60px 0 0;
      height: 100vh;
      color: $blanc;
      overflow:hidden;

      h1 {
        font-size: 4rem;
      }

      /***** INSCRIPTION / CONNEXION *****/
      .header_btn{
        display:flex;
        flex-direction: column;
        align-items: flex-start;

        h1 {
          text-align: center;
        }
        h2 {
          font-family: 'Roboto Mono';
        }
        a {
          font-size: 16px;
          font-family: 'Poppins';
          padding: 5px 20px;
          border-radius: 20px;
          background: $bleu;
          color:$blanc;
          cursor: pointer;
          letter-spacing: 1px;
          text-align: center;
          margin-top: 20px;
        }
      }
      .header_logs {
        position: relative;
        z-index: 2;
        display:flex;
        align-items:center;
        justify-content: space-around;
        width: 100%;

        .form_log {
          display:flex;
          flex-direction:column;
          position: relative;
          z-index: 9;
          background: rgba(244, 245, 245,.2);
          padding: 40px;
          border-radius: 20px;

          form {
            flex: 1;
            width: 100%;
            display:flex;

            div {
              display:flex;
              position: relative;
              flex-direction: column;
              flex:1;
            }
            input {
              border: none;
              background-color: $blanc;
              padding: 3px 10px;
              font-family: Poppins;
              border-radius: 5px;
              width: 100%;
            }
            .form-group {
              display:flex;
              flex-direction:column;
              align-items:flex-start;
              margin-top: 10px;
              &:first-child { margin: 0;}

              small {
                font-style: italic;
                font-size: .7rem;
              }
            }
            .form_links {
              margin-left: 40px;
              display:flex;
              align-items:flex-start;
              justify-content:space-around;
              flex: 0.7;
              height: 100%;

              input, a {
                border:none;
                font-size: 16px;
                font-family: 'Poppins';
                padding: 5px 20px;
                border-radius: 20px;
                background: $violet;
                color:$blanc;
                cursor: pointer;
                letter-spacing: 1px;
                width: 100%;
                text-align: center;
              }
              input {
                background: $orange;
                margin-bottom: 20px;
              }
            }
            .form_pass {
              margin-left: 40px;
              display:flex;
              align-items:center;
              justify-content:space-around;
              flex: 0.7;

              .form_links {
                margin: 0;
                flex: unset;
                justify-content: flex-start;
                margin-top: 40px;
              }
            }
            .field {
              flex-direction: row;
              align-items: center;
              margin-top: 20px;
              width: 100%;

              input {
                margin-right: 10px;
                width: unset !important;
              }
            }
          }
          .out_form_links {
            position:absolute;
            right: 40px;
            bottom: 20px;
            width: calc(40% - 40px);
            display:flex;
            flex-direction:column;

            &.insc {
              bottom: unset;
              top: 100px;
            }

            a {
              border:none;
              font-size: 14px;
              font-family: 'Poppins';
              padding: 5px 20px;
              border-radius: 20px;
              background: $violet;
              color:$blanc;
              cursor: pointer;
              letter-spacing: 1px;
              width: 100%;
              text-align: center;

              &:nth-child(3) {
                background: $bleu;
              }
            }
          }
        }
        &.edit {
          form {
            align-items: unset;
            .form_links {
              input:nth-child(3) {
                background: $bleu;
              }
            }
          }
        }
      }

      &.header_perso {
        height: 80vh;
        display:flex;
        align-items:center;

        .header_profile, .header_chara {
          display:flex;
          align-items: flex-start;
          justify-content: center;
          flex-direction:column;
          width: 80%;
          height: calc(100% - 120px);

          h1 {
            position: relative;
            display: flex;
            align-items: center;

            span {
              color: transparent;
              -webkit-text-stroke: 0.5px $blanc;
              position: absolute;
              top: -10px;
              right: -10px;
              width: 100%;
              opacity: .5;
              white-space: nowrap;
            }
          }
          div {
            width: 33.33%;
            display:flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;
            height: 100%;

            h2 {
              text-align: right;
            }
            a.btn_user {
              color: #f4f5f5;
              font-family: 'Roboto Mono';
              font-size: 1.5rem;
              border: 2px solid #f4f5f5;
              border-radius: 5px;
              margin-bottom: 10px;
              padding: 5px 10px;
              text-align: center;
              transition: ease .3s;
              margin-left: 20px;

              &:hover {
                background: rgba(244, 245, 245, 0.2);
                transition: ease .3s;
              }
            }
            a.btn_edit {
              background: $bleu;
              color: $blanc;
              font: $fontText;
              padding: 5px 20px;
              border-radius: 20px;
              margin-top: 40px;
            }
          }
        }
        .header_chara {
          flex-direction: row;
          align-items:center;
          justify-content: space-between;
        }
      }

      .header_illustration {
        position:absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 1;
        display:flex;
        align-items: center;
        justify-content: center;

        img {
          width: 100%;
          position:fixed;
        }
      }
      .header_title {
        position: relative;
        z-index: 2;
        width: 20vw;
        height: 20vw;
        border: 4px solid $blanc;
        transform: rotate(45deg);
        overflow: hidden;

        img {
          height: 10vw;
          position:absolute;
          opacity: .3;
          bottom: -20px;
          left: -20px;
          transform: rotate(-45deg);
        }

        h1 {
          display: flex;
          align-items: stretch;
          justify-content: flex-end;
          height: 100%;

          b {
            font-size: 2.5rem;
            white-space: nowrap;
            text-transform: uppercase;
            position:absolute;
            top: -16px;
            right: 0;
            left: -3px;
            letter-spacing: 6.5px;
            text-align: center;
          }
          span {
            writing-mode: vertical-rl;
            transform: rotate(180deg);
            font-style: italic;
            font-size: 4rem;
            position:relative;
            text-transform: lowercase;
            line-height: 2.5rem;

            &::before {
              color: transparent;
              -webkit-text-stroke: 0.5px $blanc;
              position: absolute;
              top: 20px;
              right:-10px;
              content: "chara";
              pointer-events: none;
            }
          }
        }
      }
      .header_desc {
        position: relative;
        z-index: 2;
        background: rgba(244, 245, 245,.2);
        padding: 40px;
        width: 40%;
        border-radius: 20px;
      }
      .header_profile {
        position: relative;
        z-index: 2;
      }
    }
    #main {
      position:relative;
      z-index:3;
      background: $blanc;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      margin-top: -60px;
      padding: 60px;

      .notice {
        text-align: center;
        width: 100%;
        margin: 40px;

        p {
          background: rgba(234,117,74, .4);
          margin: auto;
          padding: 20px;
          border-radius: 20px;
          margin-bottom: 40px;
        }
        a {
          border:none;
          font: $fontText;
          padding: 5px 20px;
          border-radius: 20px;
          color:$blanc;
          cursor: pointer;
          letter-spacing: 1px;
          background: $rose;
        }
      }

      section {

        h3 {


        }
        .advantages {
          display:flex;
          justify-content: space-around;

          .card {

          }
        }
      }
      .character_view {
        .chara_head {
          display:flex;
          justify-content:space-between;
          position:relative;

          .chara_infos {
            flex:1;

            span {
              display:block;

              b {
                font-family: 'Roboto Mono';
                color: $orange;
              }
            }
          }
          .chara_avatar {
            margin-top: -150px;
            border-radius: 20px;
            border: 20px solid $blanc;
            background: $blanc;
            position:relative;
            display:flex;
            flex-direction: column;
            align-items: center;

            img {
              border-radius: 20px;
              max-width: 400px;
            }

            .level {
              position:absolute;
              bottom: 3vw;
              background:$orange;
              height:6vw;
              width: 6vw;
              display:flex;
              align-items:center;
              justify-content:center;
              position: relative;
              border-radius: 100%;
              border: 5px solid $blanc;

              &::before {
                content:"";
                height: 60%;
                width: 60%;
                border: 2px solid $blanc;
                border-radius: 5px;
                transform: rotate(45deg);
                position:absolute;
              }
              span {
                height: 60%;
                width: 60%;
                border: 2px solid $blanc;
                border-radius: 5px;
                color: $blanc;
                font-family: 'Roboto Mono';
                display:flex;
                align-items:center;
                justify-content:center;
              }
            }
          }
        }
        .chara_stats {
          display:flex;
          align-items: center;
          justify-content: flex-start;
          margin-top:40px;
          width: 60%;

          .stat {
            flex:1;

            b {
              content:"PV";
              color: $marron;
              opacity: .4;
              font-weight: 900;
              font-family: Poppins;
              font-size: 1.5rem;
              letter-spacing: 3px;
              font-style: italic;
            }
            .stat_bar {
              width: 100%;
              background: #DDD;
              border-radius: 10px;
              border: 2px solid #DDD;
              display:flex;
              align-items:center;

              .stat_bar_fill {
                height: 8px;
                border-radius: 8px;
                background:linear-gradient(142deg, $rose 0%, $orange 28%, $violet 100%);
              }
            }
            &.pm {
              margin-left: 40px;

              .stat_bar_fill {
                background:linear-gradient(142deg, $violet 0%, $marron 28%, $bleu 100%);
              }
            }
          }

        }
        .chara_about {
          display:flex;

          .chara_histoire, .chara_compet {
            flex:1;
          }
          h3::before, h3::after {
            height: 2px;
            background-color: $orange;
            flex:1;
          }
          .chara_histoire {
            margin-right: 20px;

            h3::after {
              content:"";
              margin-left: 20px;
            }
          }
          .chara_compet {
            margin-left:20px;
            h3::before {
              content:"";
              margin-right: 20px;
            }
          }
        }
        h3 {
          font-family: 'Poppins';
          font-size: 3rem;
          font-weight: 900;
          font-style: italic;
          color: $rose;
          display: flex;
          align-items: center;
          width:100%;
          margin-bottom: 40px;

          &::first-letter {
            color: $orange;
          }
        }
        .chara_bottom {
          display: flex;
          margin-top: 60px;

          .chara_invent {
            flex:1;
            margin-right: 20px;

            .invent_cont {
              background: #fff;
              border-radius: 20px;
              border: 10px solid transparent;
              overflow:auto;
              height: 300px;
              padding: 10px;
            }
          }
          .chara_bann {
            flex:1;
            margin-left: 20px;
            background-size: cover;
            background-position: center;
            border-radius: 20px;
          }

        }
      }
      &.member_list {
        display:flex;
        flex-wrap: wrap;
        padding: 40px;

        .member {
          margin: 20px;
          background: $rose;
          border-radius: 20px;
          margin-bottom:80px;
          height: 80px;
          width: calc(25% - 40px);
          display:flex;
          align-items:center;
          justify-content: center;

          a {
            color: $blanc;
            font-family: 'Roboto Mono';
            font-size: 1.5rem;
          }
        }
      }
      &.chara_list {
        display:flex;
        flex-wrap: wrap;
        padding: 40px;

        .character {
          margin: 20px;
          background: $rose;
          border-radius: 20px;
          margin-bottom:40px;
          padding: 20px;
          width: calc(50% - 40px);
          display:flex;
          align-items:center;
          justify-content: space-between;
          background: linear-gradient(142deg, $rose 0%, $violet 28%, $bleu 100%);
          color: $blanc;

          .chara_avatar {
            height: 120px;
            width: 120px;
            background-position: 50% 30%;
            background-size: cover;
            border-radius:15px;
          }

          .chara_infos {
            text-align:center;
            flex:1;
            display:flex;
            flex-direction: column;
            align-items:center;
            margin: 0 40px;

            a {
              display:block;
              color: $blanc;
              font-family: 'Roboto Mono';
              font-size: 1.5rem;
              margin-bottom: 10px;
              transition: ease .3s;
            }
          }
          .chara_actions {
            display:flex;
            flex-direction: column;
            height: 100%;
            justify-content: space-around;

            a {
              color: $blanc;
              font-family: 'Roboto Mono';
              font-size: .8rem;
              border: 2px solid $blanc;
              border-radius: 5px;
              margin-bottom: 10px;
              padding: 5px 10px;
              text-align:center;
              transition: ease .3s;

              &:hover {
                background: rgba(244,245,245,.2);
                transition: ease .3s;
              }
            }
          }

        }
      }
      .form_chara {
        h3 {
          font-family: 'Poppins';
          font-size: 3rem;
          font-weight: 900;
          font-style: italic;
          color: $rose;
          display: flex;
          align-items: center;
          width:100%;
          margin-bottom: 40px;

          &::first-letter {
            color: $orange;
          }

          &::after {
            height: 2px;
            background-color: $orange;
            flex:1;
            content:"";
            margin-left: 60px;
          }
        }
        label {
          font-family: Roboto Mono;
        }
        .form-group  {
          display:flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: space-between;

          input, textarea, select {
            border: none;
            background-color: #fff;
            border: 1px solid #eee;
            margin: 10px 0 20px  ;
            padding: 3px 10px;
            font-family: Poppins;
            border-radius: 5px;
            width: 100%;
          }
        }
        .form_general {
          display:flex;

          div {
            flex:1;

            &.form_mid {
              margin: 0 80px;
            }
          }
        }
        .form_more {
          width: 100%;
          display:flex;
          margin: 40px 0;

          div {
            flex:1;
            &:nth-child(1) {
              margin-right: 40px;
            }
            &:nth-child(2) {
              margin-left: 40px;
            }
          }
        }
        .d-flex.flex-row.justify-content-between.align-items-center {
          display: flex;
          align-items: center;
          margin-bottom: 40px;
        }
        .character_histoire, .form_more {
          textarea {
            min-height: 250px;
          }
          label {
            background: $orange;
            color: $blanc;
            border-radius: 5px;
            padding: 5px 10px;
          }
        }
      }
      .form_submit {
        display:flex;
        align-items:center;
        justify-content:center;

        input {
          border:none;
          font-size: 16px;
          font-family: 'Poppins';
          padding: 5px 20px;
          border-radius: 20px;
          background: $orange;
          color:$blanc;
          cursor: pointer;
          letter-spacing: 1px;
          text-align: center;
        }
      }
    }
    .edit_links {
      display: flex;
      justify-content:center;
      margin-top: 40px;

      a {
        border:none;
        font-size: 16px;
        font-family: 'Poppins';
        padding: 5px 20px;
        border-radius: 20px;
        background: $violet;
        color:$blanc;
        cursor: pointer;
        letter-spacing: 1px;
        text-align: center;

        &:nth-child(2) {
          background-color: $bleu;
          margin-left: 40px;
        }
      }
    }
  }
}


/****** RESPONSIVE ******/

@import 'v_responsive.scss';

@media (min-width: 1500px) {
  html {
    body {
      header.header_perso {
        height: 60vh;
      }
      #main.chara_list {
        .character {
          .chara_avatar {
            height: 8vw;
            width: 8vw;
          }
        }

      }
    }
  }
}


@media (max-width: 1050px) {
  html {
    #navigation_bar {
      font-size: .7rem;

      .nav_links {
        a {
          margin-right: 20px;
        }
      }
    }
  }
}
@media (max-width: 950px) {
  html {
    body {
      header {
        .header_title {
          width: 27vw;
          height: 27vw;
          img {height: 15vw;}
        }
        &.header_perso {
          .header_profile h1, .header_chara h1 {font-size: 3rem;}
        }
        .header_desc {
          h2 {font-size: 1.4rem;}
          p {font-size: .9rem;}
        }
      }
      #main.chara_list {
        padding: 20px;
        .character {
          .chara_avatar {
            height: 100px;
            width: 100px;
          }
          .chara_infos {margin-right: 0 ;margin-left: 20px;}
          .chara_actions {display:none;}
        }
      }
    }
  }
}

/****** ICONES DANS NAVBAR ******/

@media (max-width: 850px) {
  html {
    #navigation_bar {
      .nav_links {
        .links_connected {
          input {margin-left: 20px;}
        }
        a {
          font-size: 0;
          &::before {
            font-family: 'Material Icons';
            font-size: 1.3rem;
          }
        }
        a.member_list::before {content:'\ea21';}
        a.chara_list::before {content:'\e851';}
        a.new_fiche::before {content:'\e02e';}
        .links_connected {
          a.profile::before {content:'\e7fd';}
          a.edit_profile::before {content:'\e8b8';}
        }
      }
    }
    body {
      header {
        .header_illustration {
          img {
            position:relative;
            height: 100%;
            width: unset;}
        }
        .header_desc {
          padding: 30px;
          h2 {font-size: 1.3rem;}
        }
        .header_logs {
          margin-top: -60px;
          h1 {
            margin-bottom: 7vw;
            font-size: 3rem;
          }
          flex-direction: column;
          .form_log {
            width: 65%;
            margin-bottom: 80px;
          }
        }
      }
      #main.member_list {
        .member {
          width: calc(33.33% - 40px) !important;
          margin-bottom: 40px !important;
        }
      }
    }
  }
}

@media (max-width: 800px) {
  html {
    body {
      header {
        padding-top: 180px;
        flex-direction: column;
        height: unset;
        .header_title {
          width: 35vw;
          height: 35vw;
          img {height: 19vw;}
        }
        .header_desc {
          width: calc(100% - 160px);
          margin: 120px 0 80px;
        }
      }
      .header_profile h1 {
        margin-top: -160px !important;
      }
      #main {
        .form_chara {
          h3::after {
            display:none;
          }
        }
      }
    }
  }
}

@media (max-width: 700px) {
  html {
    body {
      header.header_perso {

      .header_profile h1, .header_chara h1 {text-align: left !important; font-size: 3rem;}
      }
      .header_perso h1{
        margin-top: -80px;
      }
      #main.chara_list {
        .character {
          flex-direction:column;
          margin-bottom: 20px;
          .chara_avatar {width: 100%; height: 120px;}
          .chara_infos {width: 100%; margin: 20px 0;}
          .chara_actions {
            flex-direction: row;
            display:flex;
            height: unset;
            justify-content: space-between ;
            width: 100%;
            a:last-child {margin-left: 10px}
            a:first-child {margin-right: 10px;}
          }
        }
      }
      #main.member_list {
        .member {
          width: calc(50% - 40px) !important;
        }
      }
      #main {
        .form_chara {
          .form_general {
            flex-direction: column;
            div, .form_mid {
              margin: auto !important;
              width: 90% !important;
            }
          }
          .form_more {
            flex-direction: column;
            div {
              width: 90% !important;
              margin: auto !important;
            }
        }


        }
      }
    }
  }
}

@media (max-width: 650px) {
  html {
    #navigation_bar {
      .nav_links {
        .links_connected {
          form {
            input.logout_btn {
              font-family: 'Material Icons';
              font-size: 1.3rem;
              content:'\e9ba';
              padding: 8px;
              }
            }
          }
        .links_notconnected {
          form {
            button.login-button {
              font-size: 0;
              padding: 8px;
              text-align: center;
              letter-spacing: 0px;
              &::before {
                font-family: 'Material Icons';
                font-size: 1.3rem;
                content:'\e7fd';
              }
            }
          }
          a.sign_btn {
            font-size: 0;
            padding: 8px;
            text-align: center;
            letter-spacing: 0px;
            &::before {
              font-family: 'Material Icons';
              font-size: 1.3rem;
              content:'\ea77';
            }
          }
        }
      }
    }
    header {
      .header_logs {
        .form_log {
          width: calc(100% - 160px);
          margin-bottom: 80px;
          .simple_form {
            flex-direction: column;
            .form-group {
              width: 100%;
              input {width: 100%;}
            }
            .form_links {
              margin: 30px 0 90px;
              & {
                display: flex;
                align-items: center;
                justify-content: center;
              }
            }
          }
          .out_form_links {
            width: calc(100% - 80px) !important;
            bottom: 10px !important;
            a {
              display:flex;
              align-items: center;
              justify-content: center;
            }
            &.insc {
              top: unset !important;
              bottom: 60px !important;
            }
          }
        }
      }
    }
  }
}


@media (max-width: 500px) {
  html {
    body {
      header {
        .header_title {
          width: 59vw;
          height: 59vw;
          img {height: 38vw;}
        }
        .header_logs {
          .form_log {
            width: 80% !important;
            margin-bottom: 40px !important;
          }
          .form_links input {
            width: 80% !important;
          }
          .out_form_links {
            align-items: center;
            a {
              width: 80% !important;
            }
          }
        }
      }
      header.header_perso .header_profile, header.header_perso .header_chara {
        h1 {font-size: 2.2rem;}
        h2 {font-size: 1rem;}
        a {font-size: .7rem;}
      }
      #main.member_list {
        .member {
          width: 100% !important;
          margin-bottom: 20px !important;
        }
      }
      #main {
        padding: 40px;
        .form_chara {
          h3 {font-size: 2rem;}
          .form_general {
            div, .form_mid {width: 100% !important;}
          }
        }
      }
      #main.chara_list {
        .character {width: 100%;}
      }
    }
  }
}
