@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;800&family=Roboto+Mono:wght@400;500;700&display=swap');

/***** VARIABLES *****/

$bleu:#2b3653;
$violet: #806c8a;
$rose: #d8a8a4;
$marron: #70493e;
$orange: #ea754a;
$blanc: #f4f5f5;

$fontTitle: 3rem 'Roboto Mono';
$fontText: 1rem 'Poppins';

/***** GENERALITES *****/
*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
a, a:hover {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
  font: $fontText;

  #navigation_bar {
    display:flex;
    align-items:center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: $blanc;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: 999;
    padding: 0 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #444;

    .logo_site {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;

      img {
        width: 100%;
      }
    }

    .nav_links {
      display:flex;
      align-items: center;

      a {
        color: #444;
        margin-right: 40px;
        transition: ease .3s;

        &:hover {
          color: $orange;
          transition: ease .3s;
        }
      }
      input, button {
        border:none;
        font: $fontText;
        padding: 5px 20px;
        border-radius: 20px;
        color:$blanc;
        cursor: pointer;
        letter-spacing: 1px;
      }
      .links_connected {
        display:flex;
        align-items: center;
        input {
          background-color: $bleu;
          margin-left: 40px;
        }
      }
      .links_notconnected {
        display:flex;
        button {
          background-color: $orange;
        }
        form:nth-child(1) button {
          background-color: $rose;
          margin-right: 20px;
        }
      }
    }
  }
  body {
    background-color: $blanc;

    header {
      display:flex;
      align-items: center;
      justify-content: space-around;
      position:relative;
      width: 100%;
      padding: 60px 0;
      height: 100vh;
      color: $blanc;
      overflow:hidden;

      h1 {
        font-size: 4rem;
      }

      /***** INSCRIPTION / CONNEXION *****/

      .header_logs {
        position: relative;
        z-index: 2;
        display:flex;
        align-items:center;
        justify-content: space-around;
        width: 100%;

        .header_btn{
          h1 {
            text-align: center;
            margin-bottom: 20px;
          }
          a {
            font-size: 16px;
            font-family: 'Poppins';
            padding: 5px 20px;
            border-radius: 20px;
            background: $bleu;
            color:$blanc;
            cursor: pointer;
            letter-spacing: 1px;
            width: 100%;
            text-align: center;
          }
        }
        .form_log {
          display:flex;
          flex-direction:column;
          position: relative;
          z-index: 9;
          background: rgba(244, 245, 245,.2);
          padding: 40px;
          border-radius: 20px;

          form {
            flex: 1;
            width: 100%;
            display:flex;

            div {
              display:flex;
              position: relative;
              flex-direction: column;
              flex:1;
            }
            input {
              border: none;
              background-color: $blanc;
              padding: 3px 10px;
              font-family: Poppins;
              border-radius: 5px;
              width: 100%;
            }
            .form-group {
              display:flex;
              flex-direction:column;
              align-items:flex-start;
              margin-top: 10px;
              &:first-child { margin: 0;}

              small {
                font-style: italic;
                font-size: .7rem;
              }
            }
            .form_links {
              margin-left: 40px;
              display:flex;
              align-items:flex-start;
              justify-content:space-around;
              flex: 0.7;
              height: 100%;

              input, a {
                border:none;
                font-size: 16px;
                font-family: 'Poppins';
                padding: 5px 20px;
                border-radius: 20px;
                background: $violet;
                color:$blanc;
                cursor: pointer;
                letter-spacing: 1px;
                width: 100%;
                text-align: center;
              }
              input {
                background: $orange;
                margin-bottom: 20px;
              }
            }
            .form_pass {
              margin-left: 40px;
              display:flex;
              align-items:center;
              justify-content:space-around;
              flex: 0.7;

              .form_links {
                margin: 0;
                flex: unset;
                justify-content: flex-start;
                margin-top: 40px;
              }
            }
            .field {
              flex-direction: row;
              align-items: center;
              margin-top: 20px;
              width: 100%;

              input {
                margin-right: 10px;
                width: unset !important;
              }
            }
          }
          .out_form_links {
            position:absolute;
            right: 40px;
            bottom: 20px;
            width: calc(40% - 40px);
            display:flex;
            flex-direction:column;

            &.insc {
              bottom: unset;
              top: 100px;
            }

            a {
              border:none;
              font-size: 14px;
              font-family: 'Poppins';
              padding: 5px 20px;
              border-radius: 20px;
              background: $violet;
              color:$blanc;
              cursor: pointer;
              letter-spacing: 1px;
              width: 100%;
              text-align: center;

              &:nth-child(3) {
                background: $bleu;
              }
            }
          }
        }
        &.edit {
          form {
            align-items: unset;
            .form_links {
              input:nth-child(3) {
                background: $bleu;
              }
            }
          }
        }
      }

      &.header_perso {
        height: 80vh;

        .header_profile {
          display:flex;
          align-items: flex-start;
          justify-content: space-between;
          flex-direction:column;
          width: 80%;

          h1 {
            position: relative;
            display: flex;
            align-items: center;

            span {
              color: transparent;
              -webkit-text-stroke: 0.5px $blanc;
              position: absolute;
              top: -10px;
              right: -10px;
              width: 100%;
              opacity: .5;
              white-space: nowrap;
            }
          }
          div {
            width: 33.33%;
            display:flex;
            flex-direction: column;
            align-items: flex-end;
            h2 {
              text-align: right;
            }
              a {
                background: $bleu;
                color: $blanc;
                font: $fontText;
                padding: 5px 20px;
                border-radius: 20px;
              }
          }
        }
      }

      .header_illustration {
        position:absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 1;
        display:flex;
        align-items: center;
        justify-content: center;

        img {
          width: 100%;
          position:fixed;
        }
      }
      .header_title {
        position: relative;
        z-index: 2;
        width: 20vw;
        height: 20vw;
        border: 4px solid $blanc;
        transform: rotate(45deg);
        overflow: hidden;

        img {
          height: 10vw;
          position:absolute;
          opacity: .3;
          bottom: -20px;
          left: -20px;
          transform: rotate(-45deg);
        }

        h1 {
          display: flex;
          align-items: stretch;
          justify-content: flex-end;
          height: 100%;

          b {
            font-size: 2.5rem;
            white-space: nowrap;
            text-transform: uppercase;
            position:absolute;
            top: -16px;
            right: 0;
            left: -3px;
            letter-spacing: 6.5px;
            text-align: center;
          }
          span {
            writing-mode: vertical-rl;
            transform: rotate(180deg);
            font-style: italic;
            font-size: 4rem;
            position:relative;
            text-transform: lowercase;
            line-height: 2.5rem;

            &::before {
              color: transparent;
              -webkit-text-stroke: 0.5px $blanc;
              position: absolute;
              top: 20px;
              right:-10px;
              content: "chara";
              pointer-events: none;
            }
          }
        }
      }
      .header_desc {
        position: relative;
        z-index: 2;
        background: rgba(244, 245, 245,.2);
        padding: 40px;
        width: 40%;
        border-radius: 20px;
      }
      .header_profile {
        position: relative;
        z-index: 2;
      }
    }
    #main {
      position:relative;
      z-index:3;
      background: $blanc;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      margin-top: -60px;
      padding: 60px;

      section {

        h3 {


        }
        .advantages {
          display:flex;
          justify-content: space-around;

          .card {

          }
        }
      }
      .character_view {
        .chara_head {
          display:flex;
          justify-content:space-between;
          position:relative;

          .chara_infos {
            flex:1;

            span {
              display:block;

              b {
                font-family: 'Roboto Mono';
                color: $orange;
              }
            }
          }
          .chara_avatar {
            margin-top: -150px;
            border-radius: 20px;
            border: 20px solid $blanc;
            background: $blanc;

            img {
              border-radius: 20px;
              max-width: 400px;
            }
          }
        }
        .chara_stats {
          display:flex;
          align-items: center;
          justify-content: space-around;
          margin: 40px 0;

          b {
            font-family: 'Roboto Mono';
            font-size: 3rem;
            color: $orange;
            position:relative;

            &::before {
              content:"PV";
              color: $marron;
              opacity: .4;
              position: absolute;
              right: -20px;
              top: -20px;
              font-weight: 900;
              font-family: Poppins;
              font-size: 2rem;
              letter-spacing: 3px;
            }
          }
          .pv b::before {
              content: "PM";
            }
          .des b::before {
              content:"DESTIN";
            }
        }
        .chara_about {
          display:flex;

          .chara_histoire, .chara_compet {
            flex:1;
          }
          h3::before, h3::after {
            height: 2px;
            background-color: $orange;
            flex:1;
          }
          .chara_histoire {
            margin-right: 20px;
            h3::after {
              content:"";
              margin-left: 20px;
            }
          }
          .chara_compet {
            margin-left:20px;
            h3::before {
              content:"";
              margin-right: 20px;
            }
          }
        }
        h3 {
          font-family: 'Poppins';
          font-size: 3rem;
          font-weight: 900;
          font-style: italic;
          color: $rose;
          display: flex;
          align-items: center;
          width:100%;

          &::first-letter {
            color: $orange;
          }
        }
        .chara_bottom {
          display: flex;
          margin-top: 60px;

          .chara_invent {
            flex:1;
            margin-right: 20px;

            .invent_cont {
              background: #fff;
              border-radius: 20px;
              border: 10px solid transparent;
              overflow:auto;
              height: 300px;
              padding: 10px;
            }
          }
          .chara_bann {
            flex:1;
            margin-left: 20px;
            background-image: center;
            border-radius: 20px;
          }

        }
      }
      &.member_list {
        display:flex;
        flex-wrap: wrap;
        padding: 40px;

        .member {
          margin: 20px;
          background: $rose;
          border-radius: 20px;
          margin-bottom:80px;
          height: 80px;
          width: calc(25% - 40px);
          display:flex;
          align-items:center;
          justify-content: center;

          a {
            color: $blanc;
            font-family: 'Roboto Mono';
            font-size: 1.5rem;
          }
        }
      }

    }
  }
}
