
@media (min-width: 1500px) {
  html {
    body {
      header.header_perso {
        height: 60vh;
      }
      #main.chara_list {
        .character {
          .chara_avatar {
            height: 8vw;
            width: 8vw;
          }
        }

      }
    }
  }
}


@media (max-width: 1050px) {
  html {
    #navigation_bar {
      font-size: .7rem;

      .nav_links {
        a {
          margin-right: 20px;
        }
      }
    }
  }
}
@media (max-width: 950px) {
  html {
    body {
      header {
        .header_title {
          width: 27vw;
          height: 27vw;
          img {height: 15vw;}
        }
        &.header_perso {
          .header_profile h1, .header_chara h1 {font-size: 3rem;}
        }
        .header_desc {
          h2 {font-size: 1.4rem;}
          p {font-size: .9rem;}
        }
      }
      #main.chara_list {
        padding: 20px;
        .character {
          .chara_avatar {
            height: 100px;
            width: 100px;
          }
          .chara_infos {margin-right: 0 ;margin-left: 20px;}
          .chara_actions {display:none;}
        }
      }
    }
  }
}

/****** ICONES DANS NAVBAR ******/

@media (max-width: 850px) {
  html {
    #navigation_bar {
      .nav_links {
        .links_connected {
          input {margin-left: 20px;}
        }
        a {
          font-size: 0;
          &::before {
            font-family: 'Material Icons';
            font-size: 1.3rem;
          }
        }
        a.member_list::before {content:'\ea21';}
        a.chara_list::before {content:'\e851';}
        a.new_fiche::before {content:'\e02e';}
        .links_connected {
          a.profile::before {content:'\e7fd';}
          a.edit_profile::before {content:'\e8b8';}
        }
      }
    }
    body {
      header {
        .header_illustration {
          img {
            position:relative;
            height: 100%;
            width: unset;}
        }
        .header_desc {
          padding: 30px;
          h2 {font-size: 1.3rem;}
        }
        .header_logs {
          margin-top: -60px;
          h1 {
            margin-bottom: 7vw;
            font-size: 3rem;
          }
          flex-direction: column;
          .form_log {
            width: 65%;
            margin-bottom: 80px;
          }
        }
      }
      #main.member_list {
        .member {
          width: calc(33.33% - 40px) !important;
          margin-bottom: 40px !important;
        }
      }
    }
  }
}

@media (max-width: 800px) {
  html {
    body {
      header {
        padding-top: 180px;
        flex-direction: column;
        height: unset;
        .header_title {
          width: 35vw;
          height: 35vw;
          img {height: 19vw;}
        }
        .header_desc {
          width: calc(100% - 160px);
          margin: 120px 0 80px;
        }
      }
      .header_profile h1 {
        margin-top: -160px !important;
      }
      #main {
        .form_chara {
          h3::after {
            display:none;
          }
        }
      }
    }
  }
}

@media (max-width: 700px) {
  html {
    body {
      header.header_perso {

      .header_profile h1, .header_chara h1 {text-align: left !important; font-size: 3rem;}
      }
      .header_perso h1{
        margin-top: -80px;
      }
      #main.chara_list {
        .character {
          flex-direction:column;
          margin-bottom: 20px;
          .chara_avatar {width: 100%; height: 120px;}
          .chara_infos {width: 100%; margin: 20px 0;}
          .chara_actions {
            flex-direction: row;
            display:flex;
            height: unset;
            justify-content: space-between ;
            width: 100%;
            a:last-child {margin-left: 10px}
            a:first-child {margin-right: 10px;}
          }
        }
      }
      #main.member_list {
        .member {
          width: calc(50% - 40px) !important;
        }
      }
      #main {
        .form_chara {
          .form_general {
            flex-direction: column;
            div, .form_mid {
              margin: auto !important;
              width: 90% !important;
            }
          }
          .form_more {
            flex-direction: column;
            div {
              width: 90% !important;
              margin: auto !important;
            }
        }


        }
      }
    }
  }
}

@media (max-width: 650px) {
  html {
    #navigation_bar {
      .nav_links {
        .links_connected {
          form {
            input.logout_btn {
              font-family: 'Material Icons';
              font-size: 1.3rem;
              content:'\e9ba';
              padding: 8px;
              }
            }
          }
        .links_notconnected {
          form {
            button.login-button {
              font-size: 0;
              padding: 8px;
              text-align: center;
              letter-spacing: 0px;
              &::before {
                font-family: 'Material Icons';
                font-size: 1.3rem;
                content:'\e7fd';
              }
            }
          }
          a.sign_btn {
            font-size: 0;
            padding: 8px;
            text-align: center;
            letter-spacing: 0px;
            &::before {
              font-family: 'Material Icons';
              font-size: 1.3rem;
              content:'\ea77';
            }
          }
        }
      }
    }
    header {
      .header_logs {
        .form_log {
          width: calc(100% - 160px);
          margin-bottom: 80px;
          .simple_form {
            flex-direction: column;
            .form-group {
              width: 100%;
              input {width: 100%;}
            }
            .form_links {
              margin: 30px 0 90px;
              & {
                display: flex;
                align-items: center;
                justify-content: center;
              }
            }
          }
          .out_form_links {
            width: calc(100% - 80px) !important;
            bottom: 10px !important;
            a {
              display:flex;
              align-items: center;
              justify-content: center;
            }
            &.insc {
              top: unset !important;
              bottom: 60px !important;
            }
          }
        }
      }
    }
  }
}


@media (max-width: 500px) {
  html {
    body {
      header {
        .header_title {
          width: 59vw;
          height: 59vw;
          img {height: 38vw;}
        }
        .header_desc {
          width: calc(100% - 40px) !important;
          margin-bottom: 20px !important;
        }
        .header_logs {
          .form_log {
            width: 80% !important;
            margin-bottom: 40px !important;
          }
          .form_links input {
            width: 80% !important;
          }
          .out_form_links {
            align-items: center;
            a {
              width: 80% !important;
            }
          }
        }
      }
      header.header_perso .header_profile, header.header_perso .header_chara {
        h1 {font-size: 2.2rem;}
        h2 {font-size: 1rem;}
        a {font-size: .7rem;}
      }
      #main.member_list {
        .member {
          width: 100% !important;
          margin-bottom: 20px !important;
        }
      }
      #main {
        padding: 40px;
        .form_chara {
          h3 {font-size: 2rem;}
          .form_general {
            div, .form_mid {width: 100% !important;}
          }
        }
      }
      #main.chara_list {
        .character {width: 100%;}
      }
    }
  }
}
